<h2>List movies</h2>
<div class="parent">
  <ol class="movie">
    <li class="movieItem" *ngFor="let movie of movies">
      <!-- <a
        [routerLink]="[ '/detail/{{movie.id}}' ]"
        style="text-decoration:none;"
      ></a> -->
      {{ movie.name }} - {{ movie.releaseYear }}
    </li>
  </ol>
  <!-- <div class="detail" *ngIf="selectedMovie">
    detail:
    <table>
      <tr>
        <td>name:</td>
        <td><input type="text" [(ngModel)]="selectedMovie.name" /></td>
      </tr>
      <tr>
        <td>release year:</td>
        <td><input type="text" [(ngModel)]="selectedMovie.releaseYear" /></td>
      </tr>
    </table>
  </div> -->
</div>
